<div class="mb-3 col-lg-4">
    <select class="form-select col-lg-4">
        <option selected>Seleccionar rol</option>
        <option value="1">Supervisor</option>
        <option value="2">Talento humano</option>
    </select>
</div>

<div class="mb-3 col-lg-4">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Nombre...">
</div>

<div class="mb-3 col-lg-4">
    <label for="email" class="form-label">Correo electrónico</label>
    <input type="email" class="form-control input-sm" id="email" placeholder="nombre@ejempl.com">
</div>

<div class="mb-3 col-lg-4">
    <label for="clave" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="clave" placeholder="Contraseña...">
</div>