<form [formGroup]="formularioCuenta" (ngSubmit)='onSubmit()'>
    <div class="mb-3 col-lg-4">
        <label for="rol" class="form-label">Seleccionar rol</label>

        <select formControlName="idRol" class="form-select" id="rol">
            <option value="3">Talento humano</option>
            <option value="2">Supervisor</option>

        </select>
    </div>
    <p *ngIf="formularioCuenta.get('idRol')?.invalid && formularioCuenta.get('idRol')?.dirty" style="color: red;"
        class="col-sm-3">El rol es
        requerido</p>


    <div class="mb-3 col-lg-4">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre..." formControlName="nombre">
    </div>
    <p *ngIf="formularioCuenta.get('nombre')?.invalid && formularioCuenta.get('nombre')?.dirty" style="color: red;"
        class="mb-3 col-lg-4">El nombre es
        requerido</p>

    <div class="mb-3 col-lg-4">
        <label for="email" class="form-label">Correo electrónico</label>
        <input type="email" class="form-control input-sm" id="email" placeholder="nombre@ejempl.com"
            formControlName="correo">
    </div>
    <p *ngIf="formularioCuenta.get('correo')?.invalid && formularioCuenta.get('correo')?.dirty" style="color: red;"
        class="mb-3 col-lg-4">Revisa este campo</p>

    <div class="mb-3 col-lg-4">
        <label for="clave" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="clave" placeholder="Contraseña..." formControlName="contrasena">
    </div>
    <p *ngIf="formularioCuenta.get('contrasena')?.invalid && formularioCuenta.get('contrasena')?.dirty"
        style="color: red;" class="mb-3 col-lg-4">La contraseña es
        requerida</p>
    <button type="submit" class="btn btn-primary" [disabled]='formularioCuenta.invalid'>Crear cuenta</button>
</form>