<form [formGroup]="inicioSesion" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="email" class="form-label"> Correo Electronico</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com" formControlName="email">
    </div>

    <div class="mb-3">
        <label for="key" class="form-label"> Contraseña</label>
        <input type="password" class="form-control" id="key" placeholder="Contraseña" formControlName="key">
    </div>
    <button type="submit" class="btn btn-primary">Inicar Seción</button>
</form>