<form [formGroup]='cedulaForm' (ngSubmit)='onSubmit()'>
    <div class="mb-3">
        <label for="cedula" class="form-label">Cédula</label>
        <input type="number" class="form-control" id="cedula" placeholder="Escriba la cédula..."
            formControlName='cedula'>
    </div>

    <p *ngIf="cedulaForm.get('cedula')?.invalid && cedulaForm.get('cedula')?.dirty">La cédula es requerida</p>

    <button type="submit" class="btn btn-primary" [disabled]="cedulaForm.get('cedula')?.invalid">Buscar</button>
</form>

<div style="border-radius: 50px; background-color: gainsboro;" *ngIf='empleado'>
    <div style="padding: 20px;">
        <h3>Cédula: {{empleado.cedula}}</h3>
        <h3>Nombre: {{empleado.nombre}}</h3>
        <h3>Servicio: {{empleado.servicio}}</h3>
        <h3>Gerencia: {{empleado.gerencia}}</h3>
        <h3>Genero: {{empleado.genero}}</h3>
        <h3>Fecha de ingreso: {{empleado.fechaIngreso}}</h3>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil-square"
    viewBox="0 0 16 16" (click)="editar(empleado.cedula)">
    <path
        d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
    <path fill-rule="evenodd"
        d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
</svg>

<p *ngIf='!hayEmpleado && !isLoading'>No existe el empleado con esa cédula</p>

<div class="spinner-border text-primary" role="status" *ngIf='isLoading'>
    <span class="visually-hidden">Loading...</span>
</div>