<div class="col-sm-3">
    <label for="name" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="name" placeholder="John Doe">
</div>

<div class="col-sm-3">
    <label for="cedula" class="form-label">Cédula</label>
    <input type="number" class="form-control" id="cedula" placeholder="Cédula">
</div>

<div class="col-sm-3">
    <label for="gender" class="form-label">Género</label>
    <input class="form-control" list="genderOptions" id="gender" placeholder="Escribe para buscar...">
    <datalist id="genderOptions">
        <option value="Femenino">
        <option value="Masculino">
    </datalist>
</div>